.chess-board-wrapper {
  display: flex;
}

.tiles-wrapper {
  // styles for board
  display: grid;
  grid-template-columns: repeat(10, 70px);
  grid-template-rows: repeat(10, 70px);
  grid-auto-flow: row;
}
