.black-tile {
  background-color: rgb(40, 75, 40);
}

.white-tile {
  background-color: antiquewhite;
}

.black-tile,
.white-tile {
  display: flex;
  align-items: center;
  justify-content: center;
  place-content: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 80px 80px;
}

.piece-tile {
  &:hover {
    cursor: grab;
  }

  &:active {
    cursor: grabbing;
  }
}

.highlighted {
  width: 70%;
  height: 70%;
  border-radius: 50%;
  border: 4px solid rgb(175, 255, 255);
  cursor: pointer;
}